ALTER PROCEDURE [dbo].[SP_GetRecentArticlesByCategory]
    @CategoryName NVARCHAR(100),
    @Count INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP (@Count)
        Id, Title, Url, Description, ImageUrl, Author, SourceName, PublishedAt, Category
    FROM dbo.Articles
    WHERE Category = @CategoryName
    ORDER BY PublishedAt DESC;
END
GO

CREATE PROCEDURE [dbo].[SP_GetArticlesByCategory_Paged]
    @CategoryName NVARCHAR(50),
    @PageNumber INT,
    @PageSize INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        Id, Title, Url, Description, ImageUrl, Author, SourceName, PublishedAt, Category
    FROM dbo.Articles
    WHERE Category = @CategoryName
    ORDER BY PublishedAt DESC
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO