CREATE PROCEDURE [dbo].[SP_GetBlockedUsers]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Select the details of the users who are blocked by the given @UserId
    SELECT
        u.Id,
        u.FirstName,
        u.LastName,
        u.ImgUrl
    FROM
        dbo.Users u
    INNER JOIN
        -- Join based on the BlockedUserId to get the blocked user's info
        dbo.UserBlocks ub ON u.Id = ub.BlockedUserId
    WHERE
        -- Filter the UserBlocks table by the user who is doing the blocking
        ub.UserId = @UserId;
END
GO