USE [igroup107_test2]
GO
ALTER PROCEDURE [dbo].[SP_SearchArticles]
    @SearchTerm NVARCHAR(100),
    @PageNumber INT,
    @PageSize INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;

    SELECT
        a.Id,
        a.Title,
        a.Description,
        a.Url,
        a.ImageUrl,
        a.PublishedAt,
        a.Author,
        a.SourceName,
        a.Category,
        CASE
            WHEN a.Title LIKE '%' + @SearchTerm + '%' THEN 3
            WHEN a.Category LIKE '%' + @SearchTerm + '%' THEN 2
            WHEN a.Description LIKE '%' + @SearchTerm + '%' THEN 1
            ELSE 0
        END AS Relevance
    FROM
        Articles a
    WHERE
        a.Title LIKE '%' + @SearchTerm + '%'
        OR a.Description LIKE '%' + @SearchTerm + '%'
        OR a.Category LIKE '%' + @SearchTerm + '%'
    ORDER BY
        Relevance DESC, a.PublishedAt DESC
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END