ALTER PROCEDURE SP_DeleteNotification
    @RecipientId INT,
    @SenderId INT,
    @NotificationType NVARCHAR(50),
    @RelatedEntityId INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Notifications
    WHERE
        RecipientId = @RecipientId
        AND SenderId = @SenderId
        AND NotificationType = @NotificationType
        -- This clause correctly handles the comparison for a nullable ID
        AND (RelatedEntityId = @RelatedEntityId OR (RelatedEntityId IS NULL AND @RelatedEntityId IS NULL));

    SELECT @@ROWCOUNT;
END
GO